<h1>Create a new tweet</h1>

<form method="POST" action="/tweets">
    <div>
        <label for="tweet">Message</label>
        <input type="text" name="message" id="tweet"/>
    </div>
    <div>
        <label for="user">User</label>
        <select name="user">
            {{#each users}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <input type="submit" value="Create tweet"/>
</form>