<h1>Create a new tweet</h1>

<form method="POST" action="/tweets">
    <label for="name">Name</label>
    <input type="text" name="name" id="name"/>
    <label for="tweet">Tweet</label>
    <input type="text" name="tweet" id="tweet"/>
    <input type="submit" value="Create tweet"/>
</form>