<h1>Create a new user</h1>

<form method="POST" action="/users/new">
    <label>Name</label>
    <input type="string" name="name"/>
    <label>Email</label>
    <input type="string" name="email"/>
</form>